[Unit]  
Description=Run internal speaker fix script at startup  
After=getty.target network.target sound.target  
 
[Service]  
Type=oneshot  
ExecStart=/usr/local/sbin/necessary-verbs.sh  
RemainAfterExit=yes  
 
[Install]  
WantedBy=multi-user.target
