[Unit]
Description=Startup Scripts
After=network.target

[Service]
ExecStart=/usr/local/bin/scripts/LinuxLGGramScripts/lgfnlock.sh
Type=oneshot
RemainAfterExit=no

[Install]
WantedBy=default.target

